body {
	background-color: #6AB4D7;
	color: #0A0A0A;
	font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
	font-family: 'Bangers', cursive;
	font-size: 300%;
	line-height: 150%;
	text-align: center;
}

header {
	background-color: rgba(199, 0, 0, 0.5);
	padding: 10px 10px 20px 10px;
	border-radius: 50%;
	box-shadow: 0px 10px 5px 2px #0A0A0A;
	border: 10px solid #EAEBED;
}

header ul {
	list-style: none;
	text-align: center;

}

header li {
	display:inline-block;	
	padding-right: 25px;
}

header a:link {
	text-decoration: none;
	color: #0A0A0A;
}

header a:hover {
	font-weight:700;
}

header a:visited {
	color: #949494;
}

header a:active{
	text-decoration: underline;
}

p, figcaption, li {
	font-family: Verdana, Geneva, sans-serif;
}